#include <windows.h>
#include "../include/common.h"

IDI_APP ICON DISCARDABLE "app.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription",  "Clavis - Mechanical Keyboard brought to laptops"
      VALUE "FileVersion",      "1.0.0.0"
      VALUE "InternalName",     "Clavis"
      VALUE "LegalCopyright",   "MIT License"
      VALUE "OriginalFilename", "Clavis.exe"
      VALUE "ProductName",      "Clavis"
      VALUE "ProductVersion",   "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END